<div class="editor-toolbar">
  <div class="icons pull-right">
    <%= link_to("", "#", id: "topic_add_image", rel: "twipsy", title: "Upload image", class: "icon small_image")%>
    <input type="file" id="topic-upload-images"/>
  </div>
</div>
