<%= form_for @article, url: admin_article_path do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.hidden_field :id %>
  <p>
    <%= f.text_field :title, style: "width:400px;height:20px" %>
  </p>
 
  <p>
    <%= f.label :tags %>
    <%= f.text_field :tags, value: @article.tags_list,  style: "width:400px;height:20px" %>
  </p>

  <p>
    <%= f.select(:status, [['publish', 'publish'], ['draft', 'draft']]) %>
  </p>

  <%= render "editor_toolbar" %>
  <p>
    <%#= f.cktext_area :text, rows: 10 %>
    <%= f.text_area :text, cols: 80, rows: 30, class: "topic-editor closewarning" %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<script>
/*
$(function() {
  if ($(".edit_article").length > 0) {
    setTimeout(autoSavePost, 6000); 
  }    
});

function autoSavePost() {
$.ajax({
  type: "POST",
  url: "/admin/articles/autosave",
  data: $(".edit_article").serialize(),
  dataType: "script",
  success: function(data) {
    console.log(data);
  }
});
  setTimeout(autoSavePost, 6000);
}
*/
</script>
